.container-1, .container-2 {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.container-2 img {
     margin: 20px;
}

.container-2 h1 {
    color: rgb(63, 38, 38);
}

.wuin-2 {
    display: flex;
    flex-wrap: wrap;
}
